.dashboard {
  padding: 30px;
  background: #f4f6f9;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.actions {
  display: flex;
  gap: 10px;
}

.logout {
  background: #ef4444;
}

.primary {
  background: #2563eb;
}

.actions button {
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* MES */
.month-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* TARJETAS */
.balance {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card h3 {
  font-size: 16px;
  opacity: 0.8;
}

.card p {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.income {
  background: #16a34a;
}
.expense {
  background: #dc2626;
}
.balance-card {
  background: #2563eb;
}
.iva {
  background: #0ea5e9;
}

/* FORM */
.form {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 12px;
}

.form input,
.form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form button {
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CHECKBOX */
.iva-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

/* TABLA */
table {
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 30px;
  color: #f4f6f9;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

th {
  background: #2563eb;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
}
