.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.45);
  
    display:flex;
    justify-content:center;
    align-items:center;
  
    z-index:1000;
  }
  
  .modal{
    width:650px;
    max-width:95%;
    background:#1d1f24;
    border-radius:12px;
    padding:30px;
  }
  
  .modal h2{
    margin-bottom:25px;
  }
  
  .info{
    display:flex;
    flex-direction:column;
    gap:18px;
  }
  
  .info div{
    display:flex;
    justify-content:space-between;
    align-items:center;
  }
  
  .descripcion{
    display:block !important;
  }
  
  .descripcion p{
    margin-top:10px;
    line-height:1.5;
  }
  
  .buttons{
    margin-top:30px;
  
    display:flex;
    justify-content:flex-end;
  }
  
  .buttons button{
    padding:10px 22px;
    cursor:pointer;
  }

  /* errore  */
  .error{
    color:#ef4444;
    font-size:13px;
    margin-top:6px;
    display:block;
    font-weight:600;
}